# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv secrets
.env

# Docker artifacts (optional)
*.local
docker-compose.override.yml

# Logs
logs/
*.log
log.txt
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/

# Build output (if applicable)
dist/
build/

# Coverage/test results
coverage/
.nyc_output/

src/secrets.h